:root {
  --bg-color: #fdf6f0;
  --text-color: #a19882;
  --slider-thumb-color: #cdbba7;
  --slider-bg-color: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(227, 255, 0, 1) 50%,
    rgba(0, 255, 0, 1) 100%
  );
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  touch-action: none;
}

.meter {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.meter .emojis {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.meter .emojis span {
  font-size: 60px;
}

.slider {
  -webkit-appearance: none;
  outline: none;
  background: black;
  width: 100%;
  height: 50px;
  background: var(--slider-bg-color);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 50px;
  background: var(--slider-thumb-color);
  cursor: pointer;
  border: none;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 50px;
  background: var(--slider-thumb-color);
}

.header {
  text-align: center;
  position: absolute;
  top: 50px;
  font-size: 24px;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .meter {
    flex-direction: column;
    width: 100vh;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  }

  .meter .emojis {
    width: 55vh;
  }

  .meter .emojis span {
    transform: rotate(90deg);
  }

  .header {
    top: 0;
  }
}
